<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inova Week: a semana da inovação</title>
    <%- include('../views/partials/head'); %>
</head>
<body class="container"></body>
<header>
    <%- include('../views/partials/header'); %>
</header>

<body>
    <main>
        <div class="jumbotron">
          <h1>UVV</h1>
          <p>Inova Week</p>
        </div>
      </main>

    <footer>
        <%- include('../views/partials/footer'); %>
    </footer>

</body>
</html>